.yellow-ligne{
    background-color: #ffd233;
    height: 5px;
}
.dark-ligne{
    background-color: black;
    height: 30px;
}
.blue-ligne{
 background-color: rgb(0, 0, 0);   
 height: 20px;
}
    .red-ligne{
        background-color: rgb(226, 20, 20);   
    height: 2px;
}
.card{
border-radius:none !important;
border: none !important;
background-color: #ffd3337f!important;
}